/*
 * Copyright 2019-2026 elementary, Inc. (https://elementary.io)
 * SPDX-License-Identifier: GPL-2.0-or-later
 */

.keyboard-icon {
    background-color: color-mix(in srgb, black 65%, transparent);
    color: white;
    border-radius: 0.3rem;
    font-weight: 600;
    text-shadow: none;

}

panel.color-light .keyboard-icon {
    box-shadow:
        0 0 2px color-mix(in srgb, white 30%, transparent),
        0 1px 0 color-mix(in srgb, white 25%, transparent);
}

panel.color-dark .keyboard-icon,
panel.maximized .keyboard-icon {
    background-color: white;
    color: #333;
    box-shadow:
        0 0 2px color-mix(in srgb, black 30%, transparent),
        0 1px 2px color-mix(in srgb, black 60%, transparent);
}


panel.translucent.color-dark .keyboard-icon {
    box-shadow:
        0 0 2px color-mix(in srgb, black 15%, transparent),
        0 1px 2px color-mix(in srgb, black 30%, transparent);
}

panel.translucent.color-light .keyboard-icon {
    box-shadow: none;
}
